.grid {
  position: absolute;
  width: 1165px;
  height: 600px;
  border: solid black 1px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: crimson;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(64, 113, 0);
}